<div nz-row [nzGutter]="[30, 24]">
  <div nz-col class="gutter-row">
    <nz-card nzHoverable style="width: 240px" [nzCover]="coverTemplate">
      <nz-card-meta
        nzTitle="A Pretty Cat"
        nzDescription="www.hanoipetadoption.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        alt="example"
        src="https://www.hanoipetadoption.com/admin/user-content/Animal/0a15ff42-3f85-4895-9fba-437da6b75778.jpeg"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row">
    <nz-card nzHoverable style="width: 240px" [nzCover]="coverTemplate">
      <nz-card-meta
        nzTitle="A Pretty Cat"
        nzDescription="www.hanoipetadoption.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        alt="example"
        src="https://www.hanoipetadoption.com/admin/user-content/Animal/0a15ff42-3f85-4895-9fba-437da6b75778.jpeg"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row">
    <nz-card nzHoverable style="width: 240px" [nzCover]="coverTemplate">
      <nz-card-meta
        nzTitle="A Pretty Cat"
        nzDescription="www.hanoipetadoption.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        alt="example"
        src="https://www.hanoipetadoption.com/admin/user-content/Animal/0a15ff42-3f85-4895-9fba-437da6b75778.jpeg"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row">
    <nz-card nzHoverable style="width: 240px" [nzCover]="coverTemplate">
      <nz-card-meta
        nzTitle="A Pretty Cat"
        nzDescription="www.hanoipetadoption.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        alt="example"
        src="https://www.hanoipetadoption.com/admin/user-content/Animal/0a15ff42-3f85-4895-9fba-437da6b75778.jpeg"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row">
    <nz-card nzHoverable style="width: 240px" [nzCover]="coverTemplate">
      <nz-card-meta
        nzTitle="A Pretty Cat"
        nzDescription="www.hanoipetadoption.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        alt="example"
        src="https://www.hanoipetadoption.com/admin/user-content/Animal/0a15ff42-3f85-4895-9fba-437da6b75778.jpeg"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row">
    <nz-card nzHoverable style="width: 240px" [nzCover]="coverTemplate">
      <nz-card-meta
        nzTitle="A Pretty Cat"
        nzDescription="www.hanoipetadoption.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        alt="example"
        src="https://www.hanoipetadoption.com/admin/user-content/Animal/0a15ff42-3f85-4895-9fba-437da6b75778.jpeg"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row">
    <nz-card nzHoverable style="width: 240px" [nzCover]="coverTemplate">
      <nz-card-meta
        nzTitle="A Pretty Cat"
        nzDescription="www.hanoipetadoption.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        alt="example"
        src="https://www.hanoipetadoption.com/admin/user-content/Animal/0a15ff42-3f85-4895-9fba-437da6b75778.jpeg"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row">
    <nz-card nzHoverable style="width: 240px" [nzCover]="coverTemplate">
      <nz-card-meta
        nzTitle="A Pretty Cat"
        nzDescription="www.hanoipetadoption.com"
      ></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img
        alt="example"
        src="https://www.hanoipetadoption.com/admin/user-content/Animal/0a15ff42-3f85-4895-9fba-437da6b75778.jpeg"
      />
    </ng-template>
  </div>
</div>
