#register {
  width: 600px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: whitesmoke;
  padding: 50px 0 50px 30px;
  margin-top: 50px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

.ant-select.ant-select-in-form-item.phone-select {
  width: 70px;
}

.register-area {
  margin-bottom: 8px;
}
