#login {
  background-color: #fefefe;
  padding: 50px;
  margin-top: 30%;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  font-size: 26px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-weight: 500;
  background: linear-gradient(to right, orange, blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-form-button {
  width: 100%;
  margin: 20px 0;
  border: none;
  background: linear-gradient(to right, #E38E49, #1F509A);
  color: white;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 0; /* Tăng padding để nút trông cân đối hơn */
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-form-button:hover {
  background: linear-gradient(
    to right,
    #ff7e00,
    #1e90ff
  ); /* Đổi màu khi hover */
}

.login-form-forgot {
  float: right;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form {
  min-width: 300px;
}

.register-btn {
  background: none;
  border: none;
  color: #1890ff;
  cursor: pointer;
}

.login-form-button {
  cursor: pointer;
}

input {
    padding: 10px;
}
