<div nz-row [nzGutter]="[30, 24]">
  <div nz-col class="gutter-row">
    <nz-card nzHoverable style="width: 240px" [nzCover]="albertTemplate">
      <nz-card-meta
        nzTitle="Albert Einstein"
      ></nz-card-meta>
    </nz-card>
    <ng-template #albertTemplate>
      <img
        alt="example"
        src="../../assets/AlbertEinstein.jpg"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row">
    <nz-card nzHoverable style="width: 240px" [nzCover]="newtonTemplate">
      <nz-card-meta
        nzTitle="Isaac Newton"
      ></nz-card-meta>
    </nz-card>
    <ng-template #newtonTemplate>
      <img
        alt="example"
        src="../../assets/IsaacNewton.jpg"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row">
    <nz-card nzHoverable style="width: 240px" [nzCover]="galileiTemplate">
      <nz-card-meta
        nzTitle="Galileo Galilei"
      ></nz-card-meta>
    </nz-card>
    <ng-template #galileiTemplate>
      <img
        alt="example"
        src="../../assets/GalileoGalilei.jpg"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row">
    <nz-card nzHoverable style="width: 240px" [nzCover]="darwinTemplate">
      <nz-card-meta
        nzTitle="Charles Darwin"
      ></nz-card-meta>
    </nz-card>
    <ng-template #darwinTemplate>
      <img
        alt="example"
        src="../../assets/CharlesDarwin.jpg"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row">
    <nz-card nzHoverable style="width: 240px" [nzCover]="editionTemplate">
      <nz-card-meta
        nzTitle="Thomas Edition"
      ></nz-card-meta>
    </nz-card>
    <ng-template #editionTemplate>
      <img
        alt="example"
        src="../../assets/ThomasEdition.jpg"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row">
    <nz-card nzHoverable style="width: 240px" [nzCover]="teslaTemplate">
      <nz-card-meta
        nzTitle="Nikola Tesla"
      ></nz-card-meta>
    </nz-card>
    <ng-template #teslaTemplate>
      <img
        alt="example"
        src="../../assets/NikolaTesla.webp"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row">
    <nz-card nzHoverable style="width: 240px" [nzCover]="marieTemplate">
      <nz-card-meta
        nzTitle="Marie Curie"
      ></nz-card-meta>
    </nz-card>
    <ng-template #marieTemplate>
      <img
        alt="example"
        src="../../assets/MarieCurie.jpg"
      />
    </ng-template>
  </div>
  <div nz-col class="gutter-row">
    <nz-card nzHoverable style="width: 240px" [nzCover]="stephenTemplate">
      <nz-card-meta
        nzTitle="StephenHawking"
      ></nz-card-meta>
    </nz-card>
    <ng-template #stephenTemplate>
      <img
        alt="example"
        src="../../assets/StephenHawking.jpg"
      />
    </ng-template>
  </div>
</div>
